<div class="grid grid--table">
  <app-item-icon-tile *ngFor="let item of items; index as index"
                      (mousedown)="itemMousedown(index)"
                      (mouseup)="itemMouseup(index)"
                      (mousemove)="itemMousemove($event, index)"
                      [item]="item">
  </app-item-icon-tile>
</div>
<span class="tile tile--arrow tile--large"></span>
<app-item-icon-tile class="tile--large"
                    (mousedown)="resultMousedown()"
                    (mouseup)="resultMouseup()"
                    [item]="itemService.getById(result?.id)"
                    [amount]="result?.count"
>
</app-item-icon-tile>
