.person-card {
  margin-top: 2rem;
}

.person-add {
  margin-top: 2rem;
  height: calc(100% - 2rem);
  width: 100px;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
