<div class="container">
  <div class="row">
    <div *ngFor='let person of personService.people' class="col-auto">
      <div class="card person-card">
        <div class="card-body">
          <input type="text" class="form-control" [(ngModel)]="person.name" (focusout)="personService.save(person)" />
          <div class="row">
            <div class="form-group col">
              <label for="scull-{{person.id}}">Scull</label>
              <select id="scull-{{person.id}}" [(ngModel)]="person.scull" class="form-control">
                <option *ngFor='let level of [0, 1, 2, 3, 4]'>{{level}}</option>
              </select>
            </div>
            <div class="col">
              <label for="sweep-{{person.id}}">Scull</label>
              <select id="sweep-{{person.id}}" [(ngModel)]="person.sweep" class="form-control">
                <option value="0" selected>0</option>
                <option *ngFor='let level of [0, 1, 2, 3, 4]'>{{level}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-auto">
      <div class="btn btn-light person-add" (click)="personService.create()">
        +
      </div>
    </div>
  </div>


</div>


