.person-card {
  height: 100px;
  margin-bottom: 2rem;
}

.person--add {
  flex-grow: 0;
  height: 100px;
  width: 100px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
