// Custom
$sprite-size: 32px;

$grid-padding: 6px;
$grid-border-width: 2px;

$panel-bg: #C6C6C6;

$tile-bg: #8B8B8B;
$tile-border-width: 2px;
$tile-padding: 2px;
$tile-size: $sprite-size + $tile-padding * 2 + $tile-border-width * 2;

$tile-large-padding: 8px;
$tile-large-size: $sprite-size + $tile-large-padding * 2 + $tile-border-width * 2;

// Bootstrap
$body-bg: #f5f5f5;

@import "~bootstrap";

body {
  min-height: 100vh;
  display: flex;
}

app-root {
  margin: auto;
  max-width: 400px;
}

app-items {
  display: block;
}

.panel {
  padding: $grid-padding;
  background: $panel-bg;
  border: $grid-border-width solid;
  border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
}

.grid {
  display: grid;

  &--results {
    grid-template-rows: auto 1fr;
  }

  &--inventory {
    grid-template-columns: repeat(9, 1fr);
  }

  &--table {
    grid-template-columns: repeat(3, $tile-size);
    height: 3 * $tile-size;
  }
}

.items {
  &__header {
    margin: 0 0 $grid-padding 0;
    line-height: 32px;

    input {
      height: 32px;
      padding: $tile-padding;
      border: $tile-border-width solid;
      border-color: #373737 #FFF #FFF #373737;
      background-color: $tile-bg;
      float: right;
      color: white;
      text-shadow: 1px 1px 0 black;

      &::placeholder {
        color: white;
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
  &__body {
    overflow-y: scroll;
    height: 6 * $tile-size;
  }
}

app-item-icon-tile,
.tile {
  display: inline-block;
  line-height: 0;
  width: $tile-size;
  height: $tile-size;
  padding: $tile-padding;
  border: $tile-border-width solid;
  border-color: #373737 #FFF #FFF #373737;
  background-color: $tile-bg;
  position: relative;

  &:hover {
    background-color: lighten($tile-bg, 20%);
  }

  &__count {
    position: absolute;
    color: white;
    line-height: 1;
    text-shadow: 1px 1px 0 black;
    bottom: $tile-padding;
    right: $tile-padding;
  }

  &--arrow {
    background: transparent url(./assets/arrow.png) no-repeat center center;
    border-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  &--large {
    padding: $tile-large-padding;
    width: $tile-large-size;
    height: $tile-large-size;

    .tile__count {
      bottom: $tile-large-padding;
      right: $tile-large-padding;
    }
  }
}

app-item-icon {
  display: inline-block;
  line-height: 0;
  width: $sprite-size;
  height: $sprite-size;
}

.icon {
  display: inline-block;
  width: $sprite-size;
  height: $sprite-size;

  &--sprite {
    background-image: url(/assets/sprite.png);
  }
}

app-dragged-item > app-item-icon {
  position: absolute;
  top: -$sprite-size * 0.5;
  left: -$sprite-size * 0.5;
  pointer-events: none;
}

app-crafting-table,
app-crafting-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-crafting-grid + app-crafting-grid {
  margin-left: 32px;
}

app-result-list {
  display: block;
}

app-tabs {
  display: block;
}

.tabs {
  &__header {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__tab {
    display: block;
    flex: 1;
    text-align: center;
    background: $tile-bg;
    transition: all .1s ease-in-out;
    cursor: pointer;

    &--active {
      border-bottom: 0;
      background: $panel-bg;
    }
  }

  &__content {
    position: relative;
    overflow: auto;
    background-color: $panel-bg;
    border: $grid-border-width solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    border-top: 0;
    padding: $grid-padding;
  }
}
